{% load static filters %}
<!DOCTYPE html>
<html lang="en-US">

<meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
<head>
    <meta charset="UTF-8"/>
    <meta name="description" content="Day off Hackaton"/>
    <meta name="author" content="DayOff team"/>
    <meta name="csrf_token" content="{{ csrf_token }}"/>
    <meta name="geolocation" content="" />

    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <title>Day Off Team</title>

    <link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css' type='text/css'>
    <link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/jquery-date-range-picker/0.20.0/daterangepicker.min.css' type='text/css'>

	<link rel='stylesheet' href='{% static 'css/pnotify.custom.min.css' %}' type='text/css'>
    <link rel='stylesheet' href='//fonts.googleapis.com/css?family=Montserrat&amp;ver=43a7ecb08037095605f09b9cbb360f88' type='text/css' media='all'/>
    <link rel='stylesheet' href='{% static 'css/screen77a9.css' %}' type='text/css' media='all'/>
    <link rel='stylesheet' href='{% static 'css/style77a9.css' %}' type='text/css' media='all'/>

    <link rel="stylesheet" href="{% static 'css/custom.css' %}"  media="screen">

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static '/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static '/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static '/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static '/favicon/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static '/favicon/safari-pinned-tab.svg' %}" color="#5bbad5">
    <link rel="shortcut icon" href="{% static '/favicon/favicon.ico' %}">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="{% static '/favicon/browserconfig.xml' %}">
    <meta name="theme-color" content="#ffffff">

	<!-- Jquery -->
    <script type='text/javascript' src='{% static 'js/jquery/jqueryb8ff.js' %}'></script>
    <script type='text/javascript' src='{% static 'js/jquery/jquery-migrate.min330a.js' %}'></script>

	<!-- Jquery Pnotify -->
	<script type="text/javascript" src="{% static 'js/pnotify.custom.min.js' %}"></script>
    <style>
        .site-identity {
            max-width: 300px !important;
        }
		.main-header {
			position: relative;
		}
    </style>
</head>
<body id="page" class="home page-template-default page page-id-13 wpb-js-composer js-comp-ver-5.1.1 vc_responsive">

<!-- Header -->
<header class="main-header">

	<!-- Header Inner -->
    <div class="header-inner">
        {% if request.user|verified and request.user.is_authenticated %}
		<script>
		jQuery(document).ready(function() {

            new PNotify({
                type: "warn",
                text: "Please verify your email"
            });
		});
		</script>
        {% endif %}


		{% if messages %}
			<script>
			jQuery(document).ready(function() {
				{% for message in messages %}
						new PNotify({
							type: "{{ message.tags }}",
							text: "{{ message }}"
						});
				{% endfor %}
			});
			</script>
		{% endif %}

        <div class="container">
            <div class="header-content">
                <h1 class="hidden">Day off</h1>
                <h2 class="hidden">Day of team</h2>

                <!-- Site Identity -->
                <a href="/" class="site-identity">
                    <img src="{% static 'img/logo.png' %}" alt="Day off">
                </a>

                <!-- Site Nav -->
                <nav class="main-nav">
                    <ul id="menu-primary-menu" class="">
                        <li id="menu-item-22" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-13 current_page_item menu-item-22">
                            <a href="{% url 'home' %}">Home</a>
						</li>
                        <li id="menu-item-25" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-25">
							<a href="{% url 'explore' %}">Explore</a>
						</li>
                        <li id="menu-item-24" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-24">
							<a href="{% url 'dashboard' %}">Dashboard</a>
						</li>
                    </ul>
                </nav>

                <!-- User Profile Block -->
                <div class="user-profile-block">

                    <ul class="clean-list profile-actions">
                        {% if user.is_authenticated %}
                            <li class=""><a href="{% url 'dashboard' %}">Hello, {{ user.first_name }}</a></li>
                            <li class=""><a href="{% url 'logout' %}">Logout</a></li>
                        {% else %}
                            <li class="profile-action login"><i class="icon-lock3"></i>Log in</li>
                            <li class="profile-action register"><i class="icon-user3"></i>Register</li>
                        {% endif %}
                    </ul>

                    {% if user.is_anonymous %}
                        <!-- Login Form -->
                        <form class="header-profile-form login-form" name="loginform"
                              action="{% url 'login-user' %}" method="post">
                            {% csrf_token %}
                            <span class="close-form-btn"></span>
                            <h5 class="form-title">Login</h5>

							<div class="input-line">
								<input type="email" name="email" class="form-input check-value user_login" placeholder="Email">
								<i class="icon-user3"></i>
							</div>

                            <div class="input-line">
                                <input type="password" name="password" class="form-input check-value user_pass"
                                       placeholder="Password"/>
                                <i class="icon-lock2"></i>
                            </div>

                            <input class="btn btn-default btn-submit color-3 wp-submit" type="submit" name="wp-submit"
                                   value="Login"/>

                            <p class="align-center">
                                <a href="#" class="forgot-password">Forgot your your password?</a>
                            </p>
                        </form>

                        <!-- Register Form -->
                        <form class="header-profile-form register-form" method="post"
                              action="{% url 'register-user' %}">
                            {% csrf_token %}
                            <span class="close-form-btn"></span>
                            <h5 class="form-title">Register</h5>

                            <div class="input-line">
                                <input type="text" name="first_name" class="form-input check-value reg_first_name"
                                       placeholder="First name"/>
                                <i class="icon-user3"></i>
                            </div>
                            <div class="input-line">
                                <input type="text" name="last_name" class="form-input check-value reg_last_name"
                                       placeholder="Last name"/>
                                <i class="icon-user3"></i>
                            </div>

                            <div class="input-line">
                                <input type="email" name="email" class="form-input check-value reg_email"
                                       placeholder="E-mail" required/>
                                <i class="icon-global"></i>
                            </div>


                            <div class="input-line">
                                <input type="password" name="password" class="form-input check-value reg_password"
                                       placeholder="Password" required/>
                                <i class="icon-lock2"></i>
                            </div>


                            <input type="hidden" id="locales_new_user_nonce" name="locales_new_user_nonce"
                                   value="1a83e230d1"/><input type="hidden" name="_wp_http_referer" value="/locales/"/>
                            <input type="hidden" name="user_role" value="agent"/>
                            <input type="submit" name="wp-submit" class="btn btn-default btn-submit wp-submit color-3" value="Register"/>
                        </form>

                        <!-- Forgot Password Form -->
                        <form class="header-profile-form forgot-password-form" name="lostpasswordform"
                              action="#" method="post">
                            <span class="close-form-btn"></span>
                            <h5 class="form-title">Forgot password?</h5>

                            <div class="input-line">
                                <input type="text" name="user_login" class="form-input check-value user_login"
                                       placeholder="Username or E-mail"/>
                                <i class="icon-global"></i>
                            </div>

                            <input type="submit" name="wp-submit" class="btn btn-default btn-submit color-3"
                                   value="Recover password"/>
                            <input type="hidden" name="redirect_to" value="">
                        </form>
                    {% endif %}
                </div>


                <!-- Mobile Nav Toggle -->
                <span class="mobile-sideblock-toggle">
					<i class="icon-menu2"></i>
				</span>
            </div>
        </div>
    </div>
</header>

{% if request.path == '/explore/' %}
<section class="section ovh vc_custom_1481017378704 secondary-header" style="background-image: url('{% static 'img/search-form-background.jpg' %}')">
    <div class="container-fluid">
        <form id="searchform" class="discover-places-form" name="searchform">
            <div class="container">
                <div class="form-inner">
                    <div class="input-line search-field-container">
						<input type="search" name="s" class="form-input check-value search-title-input" placeholder="Search">
                    </div>
                    <div class="row">

                        <div class="col-md-6">
                            <div class="input-line">
                                <span class="input-line-title">Type</span>

                                <div class="select-box categories">
                                    <input name="type" type="text" class="select-box-input form-input check-value" readonly="" placeholder="Choose the type">
                                    <ul class="clean-list select-box-options">
										{% for type in types %}
                                            <li class="option">{{ type.name }}</li>
										{% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="input-line">
                                <span class="input-line-title">Price from</span>
                                <input type="number" name="pricefrom" min="0" step="0.01" class="form-input check-value search-title-input" placeholder="From">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-line">
                                <span class="input-line-title">Price to</span>
                                <input type="number" name="priceto" min="0" step="0.01" class="form-input check-value search-title-input" placeholder="To">
                            </div>
                        </div>
                    </div>

					<div class="align-center search-form-buttons">
						<button id="share-location" name="closetome" data-closetome="0" class="form-submit btn btn-default color-2">Close to me</button>
						<input type="submit" name="submit" class="form-submit btn btn-default" value="Search">
						<span class="clear-input"></span>
					</div>
                </div>
            </div>
        </form>
    </div>
	<style>
		.main-header {
		    position: relative;
		}
		.secondary-header {
	        padding:20px;
	        margin-bottom: 0px;
		}
	    .discover-places-form {
	        padding: 10px;
	    }
	    .map-locations-box {
	        padding-top: 0px;
	    }
	    .html-select-box.categories {
	        background-color: inherit !important;
	        border-color: inherit !important;
	        color: inherit !important;
	        text-shadow: inherit !important;
	    }
	    .discover-places-form .input-line .select-box {
	        display: block;
	    }


	    .box-inner-col.locations-results.mobile {
	        display: none;
	    }

	    @media only screen and (max-width: 600px) {

	        .box-inner-col.locations-results {
	            display: none;
	        }
	        .box-inner-col.locations-results.mobile {
	            display: block;
	        }
	        #share-location {
	            margin-bottom: 20px;
	        }
	    }
	</style>
</section>
{% endif %}


<!-- Mobile Side Menu -->
<div class="mobile-sidemenu-block">

    <!-- Close Sidemenu -->
    <span class="close-sidemenu">
		<i class="icon-cross2"></i>
	</span>

    <!-- Menu Inner -->
    <div class="sidemenu-inner">

        <!-- Main Nav -->
        <nav class="sidemenu-nav">
            <ul id="menu-primary-menu-1" class="">
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-13 current_page_item menu-item-22">
                    <a href="{% url 'home' %}">Home</a></li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-25"><a
                        href="{% url 'explore' %}">Explore</a></li>

                {% if user.is_authenticated %}
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-24"><a
                        href="{% url 'dashboard' %}">Dashboard</a></li>
                {% endif %}
            </ul>
        </nav>

        {% if user.is_anonymous %}
            <!-- Register Form -->
            <form class="sidemenu-form register-form" method="post" action="{% url 'register-user' %}">
                {% csrf_token %}
                <h5 class="form-title">Register</h5>

                <div class="input-line">
                    <input type="text" name="reg_first_name" class="form-input check-value reg_first_name"
                           placeholder="First name"/>
                    <i class="icon-user3"></i>
                </div>

                <div class="input-line">
                    <input type="text" name="reg_last_name" class="form-input check-value reg_last_name"
                           placeholder="Last name"/>
                    <i class="icon-user3"></i>
                </div>

                <div class="input-line">
                    <input type="email" name="reg_email" class="form-input check-value reg_email" required
                           placeholder="E-mail"/>
                    <i class="icon-global"></i>
                </div>

                <div class="input-line">
                    <input type="text" name="reg_username" class="form-input check-value reg_username" required
                           placeholder="Username"/>
                    <i class="icon-user3"></i>
                </div>

                <div class="input-line">
                    <input type="password" name="reg_password" class="form-input check-value reg_password" required
                           placeholder="Password"/>
                    <i class="icon-lock2"></i>
                </div>

                <div class="input-line">
                    <input type="password" name="reg_passwordr" class="form-input check-value reg_passwordr" required
                           placeholder="Confirm Password"/>
                    <i class="icon-lock2"></i>
                </div>


                <input type="submit" name="wp-submit" class="btn btn-default btn-submit wp-submit color-3" value="Register"/>
                <p class="form-footer">Already have an account? <a href="#" class="bring-login-form">Sign in</a></p>
            </form>

            <!-- Login Form -->
            <form class="sidemenu-form login-form" name="loginform"
                  action="{% url 'login-user' %}" method="post">
                {% csrf_token %}
                <h5 class="form-title">Login</h5>

                <div class="input-line">
                    <input type="text" name="email" class="form-input check-value user_login" placeholder="Username"/>
                    <i class="icon-user3"></i>
                </div>

                <div class="input-line">
                    <input type="password" name="password" class="form-input check-value user_pass"
                           placeholder="Password"/>
                    <i class="icon-lock2"></i>
                </div>

                <input type="submit" name="wp-submit" class="btn btn-default btn-submit wp-submit color-3"
                       value="Login"/>
                <input type="hidden" name="redirect_to" value="index.html"/>
                <input type="hidden" name="testcookie" value="1"/>
                <p>
                    <a href="#" class="bring-forgot-password-form">Forgot your your password?</a> /
					<a href="#" class="bring-sign-up-form">Register</a>
                </p>
            </form>

        <!-- Forgot Password Form -->
        <form class="sidemenu-form forgot-password-form" name="lostpasswordform"
              action="" method="post">
            <h5 class="form-title">Forgot your your password?</h5>

            <div class="input-line">
                <input type="text" class="form-input check-value user_login" name="user_login"
                       placeholder="Username or E-mail"/>
                <i class="icon-global"></i>
            </div>

            <input type="submit" name="wp-submit" class="btn btn-default btn-submit wp-submit color-3"
                   value="Recover password"/>
            <input type="hidden" name="redirect_to" value="">
            <p class="form-footer"><a href="#" class="bring-login-form">Sign in</a></p>
        </form>
        {% endif %}
    </div>
</div>

<!-- Main Content Box -->
{% block content %}
{% endblock %}

	<!-- Footer -->
	<footer class="main-footer">
	    <div class="container">

			<!-- Footer Nav -->
	        <nav class="menu-links">
	            <ul id="menu-footer-menu" class="">
	                <li id="menu-item-17" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-17"><a href="#">Explore</a></li>
	                <li id="menu-item-19" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-19"><a href="#">Dashboard</a></li>
	            </ul>
	        </nav>


	        <!-- Footer Socials -->
	        <div class="social-block">
	            <ul class="clean-list social-list">
	                <li>
	                    <a href="//facebook.com/" target="_blank">
	                        <i class="icon-facebook"></i>
	                    </a>
	                </li>
	                <li>
	                    <a href="//twitter.com/" target="_blank">
	                        <i class="icon-twitter"></i>
	                    </a>
	                </li>
	                <li>
	                    <a href="//plus.google.com/" target="_blank">
	                        <i class="icon-google"></i>
	                    </a>
	                </li>
	                <li>
	                    <a href="//pinterest.com/" target="_blank">
	                        <i class="icon-pinterest"></i>
	                    </a>
	                </li>
	            </ul>
	        </div>

	        <!-- Copyrights -->
	        <p class="copyright-message">Copyright 2018 <a href="/" >Day Off</a></p>
	    </div>
	</footer>

	<!-- Google maps -->
	<script type='text/javascript' src='//maps.googleapis.com/maps/api/js?key=AIzaSyD7AzUm0gwtQSAaO46XsD08TWAAU1O-csY&libraries=places'></script>

	<!-- Moment -->
    <script src="//rawgit.com/moment/moment/2.2.1/min/moment.min.js" type="text/javascript"></script>

	<!-- Date range picker -->
    <script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/jquery-date-range-picker/0.20.0/jquery.daterangepicker.min.js'></script>

	<!-- Jquery sortable -->
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery-sortable/0.9.13/jquery-sortable-min.js"></script>


	<!-- FontAwesome -->
    <script type="text/javascript" src="{% static 'js/fontawesome-5.1.1.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/fontawesome-5.1.1.js' %}"></script>

	<!-- Jquery UI -->
	<script src="//code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

    <!--<script src="//code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>-->

    <script type='text/javascript' src='{% static 'js/jquery.themepunch.tools.min00d1.js' %}'></script>
    <script type='text/javascript' src='{% static 'js/jquery.themepunch.revolution.min00d1.js' %}'></script>
    <script type='text/javascript' src='{% static 'js/holder.js' %}'></script>

	<script type='text/javascript' src='{% static 'js/subscription77a9.js' %}'></script>
	<script type='text/javascript' src='{% static 'js/jquery/jquery.form.min50fa.js' %}'></script>
	<script type='text/javascript' src='{% static 'js/jquery-confirm.min77a9.js' %}'></script>
	<script type='text/javascript' src='{% static 'js/markerwithlabel.min77a9.js' %}'></script>
	<script type='text/javascript' src='{% static 'js/jquery.fitvids77a9.js' %}'></script>
	<script type='text/javascript' src='{% static 'js/slick77a9.js' %}'></script>

    <!-- Main JS -->
    <script type='text/javascript' src='{% static 'js/main.js' %}'></script>

	<script type='text/javascript' src='{% static 'js/options77a9.js' %}'></script>

	</body>
</html>
