{% extends 'base.html' %}

{% load static  %} {% csrf_token %}
{% block content %}

<!-- Main Content Box -->
<div class="content-box">
	<section id="post-9" class="section section-dashboard">
		<h2 class="section-title">
			<div class="container">Dashboard</div>
		</h2>
		<div class="dashboard-tabs">
			<div class="tabed-content">
				<div class="tabs-header">
					<div class="container">

						<!-- Tabs -->
						<ul class="clean-list tab-links">

							<li class="tab-link" data-tab-link="dashboard-tab-1">
								<i class="icon icon-Streamline-182"></i>
								<span class="text">My Messages</span>
							</li>

							<li class="tab-link" data-tab-link="dashboard-tab-2">
								<i class="icon icon-Streamline-52"></i>
								<span class="text">My Reservations</span>
							</li>

							<li class="tab-link" data-tab-link="dashboard-tab-3">
								<i class="icon icon-Streamline-52"></i>
								<span class="text">My Sites</span>
							</li>

							<li class="tab-link" data-tab-link="dashboard-tab-4">
								<i class="icon icon-Streamline-75"></i>
								<span class="text">Edit Profile</span>
							</li>

							<li class="tab-link current" data-tab-link="dashboard-tab-5">
								<i class="icon icon-Streamline-22"></i>
								<span class="text">Add site</span>
							</li>
						</ul>
					</div>
				</div>

				<div class="tabs-body">
					<div class="container">

						<!-- My Messenges -->
						<div class="tab-item" id="dashboard-tab-1">
							<div class="profile-listing-table">
								<table class="listing-table">
									<thead>
										<tr>
											<th></th>
											<th>Location title</th>
											<th>Date posted</th>
											<th></th>
										</tr>
									</thead>

									<tbody>
										<tr class="listing_item_row">
											<td>1</td>
											<td>
												<a href="https://demo.teslathemes.com/locales/locations/presidential-restaurant/">Presidential Restaurant</a>
											</td>
											<td>December 21, 2016</td>
											<td>
												<a href="#" class="delete-btn listing-ajax" data-id="142" data-confirm_text="Confirm" data-cancel_text="Cancel" data-dialog_title="Confirm Deletion?" data-dialog_content="Do you really want to remove this item?">
													<span class="text">Delete</span>
													<i class="icon icon-delete"></i>
												</a>
											</td>
										</tr>
										<tr class="listing_item_row">
											<td>2</td>
											<td>
												<a href="https://demo.teslathemes.com/locales/locations/the-best-pasta-in-the-city/">The best pasta in the city</a>
											</td>
											<td></td>
											<td>
												<a href="#" class="delete-btn listing-ajax" data-id="140" data-confirm_text="Confirm" data-cancel_text="Cancel" data-dialog_title="Confirm Deletion?" data-dialog_content="Do you really want to remove this item?">
													<span class="text">Delete</span>
													<i class="icon icon-delete"></i>
												</a>
											</td>
										</tr>
										<tr class="listing_item_row">
											<td>3</td>
											<td>
												<a href="https://demo.teslathemes.com/locales/locations/night-pub-two/">Otto’s night pub</a>
											</td>
											<td>December 6, 2016</td>
											<td>
												<a href="#" class="delete-btn listing-ajax" data-id="109" data-confirm_text="Confirm" data-cancel_text="Cancel" data-dialog_title="Confirm Deletion?" data-dialog_content="Do you really want to remove this item?">
													<span class="text">Delete</span>
													<i class="icon icon-delete"></i>
												</a>
											</td>
										</tr>
									</tbody>
								</table>

								<div class="align-right">
									<a href="#" class="btn btn-default color-2 add-listing-tab">Add your listing</a>
								</div>
							</div>
						</div>

						<!-- My Reservations -->
						<div class="tab-item" id="dashboard-tab-2">
							<div class="profile-listing-table">
								<table class="listing-table">
									<thead>
										<tr>
											<th></th>
											<th>Location title</th>
											<th>Date posted</th>
											<th></th>
										</tr>
									</thead>

									<tbody>
										{% for reservation in reservations %}
										<tr class="listing_item_row">
											<td>{{ reservation.id }}</td>
											<td>
												<a href="#">{{ reservation.name }}</a>
											</td>
											<td>{{ reservation.date_from }} - {{ reservation.date_to }}</td>
											<td>
												<a href="#" class="delete-btn listing-ajax" data-id="{{ reservation.id }}" data-confirm_text="Confirm" data-cancel_text="Cancel" data-dialog_title="Confirm Deletion?" data-dialog_content="Do you really want to cancel the reservation?">
													<span class="text">Delete</span>
													<i class="icon icon-delete"></i>
												</a>
											</td>
										</tr>
										{% endfor %}
									</tbody>
								</table>

								<div class="align-right">
									<a href="#" class="btn btn-default color-2 add-listing-tab">Add your listing</a>
								</div>
							</div>
						</div>

						<!-- My Sites -->
						<div class="tab-item" id="dashboard-tab-3">
							<div class="profile-listing-table">

								<table class="listing-table favourites-list">
									<thead>
										<tr>
											<th></th>
											<th>Location title</th>
										</tr>
									</thead>

									<tbody>
										<tr>
											<td class="no_listings_to_show"><p>You do not have any favourite listings yet.</p></td>
										</tr>
									</tbody>
								</table>

								<div class="align-center">
									<a href="#" class="btn btn-default color-2 add-listing-tab">Add site</a>
								</div>
							</div>
						</div>

						<!-- Edit User -->
						<div class="tab-item" id="dashboard-tab-4">

							<form class="dashboard-form edit-profile-form" action="{% url 'edit-user' %}" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
								<div class="main-details">
									<div class="row">
										<div class="col-sm-6">
											<div class="input-line">
												<input type="text" name="firstname" data-first="" class="form-input check-value" placeholder="{{ user.first_name }}" value="{{ user.first_name }}">
											</div>
										</div>
										<div class="col-sm-6">
											<div class="input-line">
												<input type="text" name="lastname" data-last="" class="form-input check-value" placeholder="{{ user.last_name }}" value="{{ user.last_name }}">
											</div>
										</div>
										<div class="col-sm-6">
											<div class="input-line">
												<input type="text" name="country" data-country="" class="form-input check-value" placeholder="Country" value="{{ user.country }}">
											</div>
										</div>
										<div class="col-sm-6">
											<div class="input-line">
												<input type="text" name="city" data-phone="" class="form-input check-value" placeholder="City" value="{{ user.city }}">
											</div>
										</div>
										<div class="col-sm-6">
											<div class="input-line">
												<input type="text" name="address" data-phone="" class="form-input check-value" placeholder="Address" value="{{ user.address }}">
											</div>
										</div>
										<div class="col-sm-6">
											<div class="input-line">
												<input type="text" name="phonenumber" data-phone="" class="form-input check-value" placeholder="Phone" value="{{ user.phonenumber }}">
											</div>
										</div>
									</div>
								</div>

								<div class="password-block">
									<h5 class="block-title">Password change</h5>

									<div class="password-inputs">
										<div class="row">
											<div class="col-md-6">
												<div class="input-line">
													<input minlength="8" id="password" class="form-input check-value dashboard_pass" placeholder="New password" name="password" type="password" pattern="^\S{8,}$" onchange="this.setCustomValidity(this.validity.patternMismatch ? 'Must have at least 8 characters' : ''); if(this.checkValidity()) form.password_two.pattern = this.value;" placeholder="Password" >
												</div>
											</div>
											<div class="col-md-6">
												<div class="input-line">
													<input class="form-input check-value dashboard_pass" minlength="8" id="password-repeat" name="password-repeat" type="password" pattern="^\S{8,}$" onchange="this.setCustomValidity(this.validity.patternMismatch ? 'Please enter the same Password as above' : '');" placeholder="Verify Password" >
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="align-center">
									<input type="submit" name="wp-submit" class="btn save-btn btn-default color-2 " value="Save">
								</div>
							</form>
						</div>

						<!-- Add Site Form -->
						<div class="tab-item current" id="dashboard-tab-5">

							<form id="add-site-form" class="dashboard-form upload-property-form" action="{% url 'create-site' %}" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
								<!-- Main Info -->
								<div class="property-main-info">
									<div class="row">
										<div class="col-md-6">
											<div class="input-line">
												<input required type="text" name="location-name" class="form-input check-value required-input" placeholder="Site name">
											</div>
										</div>

										<div class="col-md-6">
											<div class="select-box">
												<input required type="text" name="location-category" class="select-box-input form-input check-value required-input" readonly placeholder="Category">
												<ul class="clean-list select-box-options">
													{% for category in categories %}
														<li class="option" data-value="{{ category.id }}">{{ category.name }}</li>
													{% endfor %}
												</ul>
											</div>
										</div>

										<div class="col-md-12">
											<div class="input-line">
												<textarea required class="form-input check-value" name="location-description" placeholder="Description"></textarea>
											</div>
										</div>
									</div>

									<!-- Location Tags -->
									<div class="property-tags-block">
										<div class="tags-block-inner">
											<span class="block-title">Listing tags</span>

											<div class="add-tags-block">
												<div class="input-line">
													<input  type="text" name="location-tags" id="location-tags" class="form-input check-value" placeholder="Add tag">
													<input required type="hidden" name="location-tags" class="tag-list-input">
												</div>
											</div>

											<p class="block-descrption">Visitors can filter their search by the amenities too, so make sure you include all the relevant ones.</p>
										</div>

										<div class="tags-list"></div>
									</div>

									<!-- Property Price Range -->
									<div class="property-contact-info">
										<div class="row">
											<div class="col-md-6 col-xs-12 col-sm-12">
												<div class="input-line">
													<h5 class="line-title">Add a price</h5>
													<input placeholder="99.36" required type="number" name="location-price" class="form-input check-value required-input" min=".00" step="0.01" value="">
												</div>
											</div>
											<div class="col-md-6 col-xs-12 col-sm-12">
												<div class="input-line">
													<h5 class="line-title">Date avaiable</h5>
													<input required type="text" name="location-daterange" value="01/01/2018 - 01/15/2018" class="form-input check-value required-input">
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-12 col-xs-12 col-sm-12">

												<!-- Upload Images -->
												<div class="gallery-images-block">
													<h5 class="block-title">
														<span class="text">Gallery images</span>
														<span class="add-images-btn">
															<span class="placeholder">+ Add photos</span>
														</span>
													</h5>

													<div class="images-gallery">
														<label class="add-images-thumbnail">
															<i class="icon icon-Streamline-44"></i>
															<input required type="file" name="location-images[]" id="images" multiple accept="image/*" />
														</label>
														<input type="hidden" name="location-featured-image" class="featured-image">
														<input type="hidden" class="removed-images" name="removed-images-input">
														<input type="hidden" class="order-images" name="location-images-order">

														<div class="row row-fit-10"></div>
													</div>
												</div>

												<!-- Location Block -->
												<div class="set-location-block">
													<div class="input-line">
														<h5 class="line-title">Location</h5>

														<input type="text" name="location-address" class="form-input check-value required-input" placeholder="Type something..." />
														<input type="hidden" name="Location[loc_hidden]" class="hidden_input_for_city"/>
													</div>

													<div class="map-container"></div>
													<input type="hidden" name="location-coordinates[lat]" class="location-map-lat" value="40.715126852017086">
													<input type="hidden" name="location-coordinates[long]" class="location-map-long" value="-74.00364875793457">
												</div>
											</div>
										</div>
									</div>

									<!-- Save Data -->
									<div class="property-save-block align-right">
										<input type="submit" name="submit" class="btn btn-save btn-default color-2" value="Publish">
									</div>
                                </div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			<h1 class="align-center"></h1>
		</section>

		<!-- Page Overlay -->
		<span class="page-overlay"></span>
	</div>

	<style>
		.property-save-block {
			margin-top: 20px;
		}
	</style>

	<script type="text/javascript" src="//cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
	<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
	<script type="text/javascript" src="//cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
	<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
	<script type="text/javascript">
	jQuery(document).ready(function () {

		jQuery('input[name="location-daterange"]').daterangepicker({
			opens: 'left',
			buttonClasses: ['btn btn-default color-2'],
		}, function(start, end, label) {
		  console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
		});


		// Edit user form
		jQuery('.edit-profile-form').on("submit", function (e) {
			e.preventDefault();

			var pwd = (typeof jQuery("[name='password']").val() != 'undefined')? jQuery("[name='password']").val().trim():"";
			var pwdRepeat = (typeof jQuery("[name='password-repeat']").val() != 'undefined') ? jQuery("[name='password-repeat']").val().trim() : "";

			if(pwd != pwdRepeat) {

				new PNotify({
					type: "info",
					text: 'Passwords doesn\'t match.'
				});
			}
		});

		// Add Site form
		jQuery('#add-site-form').on("submit", function (e) {

			var imagesOrder = [];
			jQuery(".thumbnail-preview").each(function () {
				var orderId = jQuery(this).data("order-id");
				imagesOrder.push(orderId);
			});

			imagesOrder = JSON.stringify( imagesOrder );
			jQuery("[name='location-images-order']").val(imagesOrder);

			if(jQuery(".tags-list .tag").length == 0) {
				new PNotify({
					type: "info",
					text: 'You have to add at least 1 tag'
				});
				return false;
			}
		});

		// Date range picker
		jQuery('input[name="location-daterange"]').on('apply.daterangepicker', function(ev, picker) {
			console.log("Apply");
			console.log("A new date selection was made: " + picker.startDate.format('MM/DD/YYYY') + ' to ' + picker.endDate.format('MM/DD/YYYY'));
		});

		jQuery('input[name="location-daterange"]').on('cancel.daterangepicker', function(ev, picker) {
			console.log("Cancel");
			console.log("A new date selection was made: " + picker.startDate.format('MM/DD/YYYY') + ' to ' + picker.endDate.format('MM/DD/YYYY'));
		});
	});

	</script>
	{% endblock %}
