{% extends 'base.html' %}

{% load static  %} {% csrf_token %}
{% block content %}

<div class="map-locations-box">
	<div class="map-locations-box-inner">

		<!-- Tags mobile -->
		<div class="box-inner-col locations-results mobile">

            <div class="results-filters">
				<div class="filters-inner">

					<!-- Filters Categories -->
					<div class="filters-categories">
						<div class="categories-list-wrapper">
							<span class="list-title">Choose tags:</span>
							<input type="hidden" name="tags" value="" />
							<ul class="clean-list categories-list">
								{% for tag in tags %}
								<li>{{ tag.name }}</li>
								{% endfor %}
    						</ul>
						</div>

						<div class="choosed-categories"></div>
					</div>
				</div>
			</div>
		</div>


		<div class="box-inner-col locations-map">
			<div class="spinner-box visible">
				<div class="spinner-wrapper">
					<span class="spinner"></span>
				</div>
			</div>

			<div data-map-markers='{{ locations }}' id="map-canvas" class="map-container"></div>
		</div>

		<div class="box-inner-col locations-results">

            <div class="results-filters">
				<div class="filters-inner">

					<!-- Filters Categories -->
					<div class="filters-categories">
						<div class="categories-list-wrapper">
							<span class="list-title">Choose tags:</span>
							<input type="hidden" name="tags" value="" />
							<ul class="clean-list categories-list">
								{% for tag in tags %}
								<li>{{ tag.name }}</li>
								{% endfor %}
    						</ul>
						</div>

						<div class="choosed-categories"></div>
					</div>
				</div>
			</div>

			<ul class="clean-list results-list">

				<!-- Single location item -->
				{% for location in locationsnojson %}
				<li class="location-item" data-id="{{ location.id }}">
					<div class="image">
						<a href="/site-preview/{{ location.id }}">

							<img width="150" height="135" src="/media/{{ location.featured_image }}" class="attachment-tt_explore_locations size-tt_explore_locations wp-post-image" alt="{{ location.title }}">								</a>
					</div>

					<div class="item-body">
						<h4 class="item-title">
							<a href="/site-preview/{{ location.id }}">{{ location.title }}</a>
						</h4>
						<p class="location">{{ location.address }}</p>
						<ul class="clean-list item-facilities">
						</ul>
					</div>
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>
</div>
{% endblock %}
