{% extends 'base.html' %}

{% load static  filters %} {% csrf_token %}
{% block content %}


<div class="content-box">
	<section class="section home-search-banner ovh vc_custom_1481017378704 secondary-header" style="background-image: url('{% static 'img/search-form-background.jpg' %}')">
    <div class="container-fluid">
        <form action="{% url 'explore' %}" class="discover-places-form" method="GET">
            <div class="container">
				<h1 class="form-title">DISCOVER YOUR SITE</h1>
                <div class="form-inner">
					<div class="align-center search-form-buttons col-md-12">
						<a href="/explore" class="col-md-12 btn btn-default">Search</a>
						<span class="clear-input"></span>
					</div>
                </div>
            </div>
        </form>
    </div>



</section>
<section class="section ovh">
	<div class="container-fluid no-padding">
		{% for category in categories %}
		<div class="service-block col-md-4">
			<a href="#" class="service-block-inner">
				<div class="service-block-info" style="background: #d7dbdf">
					<div class="block-info-inner">
						<span class="title">{{ category.name }}</span>
						<img class="icon " src="/media/{{ category.icon }}">
						<span class="nr-of-places">{{ category.name|get_cat_qty }} places</span>
					</div>
				</div>
				<img src="/media/{{ category.picture }}" alt="service block image"
				class="service-block-background"/>
			</a>
		</div>
		{% endfor %}
	</div>
</section>






<!-- Page Overlay -->
<span class="page-overlay"></span>
</div>

{% endblock %}
