{% extends 'base.html' %}

{% load static  %} {% csrf_token %}
{% block content %}

<!-- Single Location Block -->
<div class="single-location-block">

	{% if images %}
	<!-- Location Cover -->
	<div class="single-location-cover">
		<div class="tt-slider cover-slider" data-fade="true" data-speed="900" data-infinite="true">
			<ul class="clean-list slides-list">
				{% for image in images %}
					<li class="slide">
						<img src="/media/{{ image.pic }}" alt="{{ site.title }}" />
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>
	{% else %}
	<div class="cover_placeholder"></div>
	{% endif %}

	<!-- Location Body -->
	<div class="single-location-body">
		<div class="container">

			<div class="row">



				<div class="col-md-5">
					<aside class="main-sidebar">
						<div class="widget widget_contact_map">
							<h4 class="widget-title">Find us on map</h4>
							<div class="widget-map" data-options=''>
							</div>
						</div>
					</aside>
				</div>

			</div>
		</div>
	</div>
</div>
<style media="screen">
	.single-location-block {
		padding:0px !important;
	}
	.slick-list {
		height: 500px;
	}
</style>

<!-- Map -->
<script type="text/javascript">
jQuery(document).ready(function () {
	jQuery(".widget-map").data("options", {
		"marker": "",
		"marker_coord": {
		  "lat": "{{ site.lat }}",
		  "lon": "{{ site.long }}"
		},
		"map_center": {
		  "lat": "{{ site.lat }}",
		  "lon": "{{ site.long }}"
		},
		"zoom": "14",
	});
});
</script>
{% endblock %}
