
.main-header {
	position: relative;
}
.secondary-header {
	padding:20px;
	margin-bottom: 0px;
}
.discover-places-form {
	padding: 10px;
}
.map-locations-box {
	padding-top: 0px;
}
.html-select-box.categories {
	background-color: inherit !important;
	border-color: inherit !important;
	color: inherit !important;
	text-shadow: inherit !important;
}
.discover-places-form .input-line .select-box {
	display: block;
}

.service-block:hover .icon{
    opacity: 0;
}


.box-inner-col.locations-results.mobile {
	display: none;
}

@media only screen and (max-width: 600px) {

	.box-inner-col.locations-results {
		display: none;
	}
	.box-inner-col.locations-results.mobile {
		display: block;
	}
	#share-location {
		margin-bottom: 20px;
	}
}

.content-box > .section:first-child {
	padding-top: 0px;
}

.home-search-banner {
	padding-top: 70px !important;
	padding-bottom:70px !important;
}
